{%extends 'Gallerystart/base.html'%}
{% block content%}
  <div class="container"> 
       
    <div class="py-5 px-5 text-center bg-secondary text-black ">
        {%if user.is_authenticated%}
        <h1 class="mb-3">upload Image</h1>
        
         <form action="" method="post" enctype="multipart/form-data" >
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="upload" class="btn btn-warning mt-2">
         </form>
        {%endif%}
    </div>
  </div>

{%endblock content%}
