{% extends 'Gallerystart/base.html' %}
{% load static %}
{% block title %}PasswordResetComplete{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password  Reset  done Successfully.You can login again !!</h3>
    <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" class="giphy-embed" frameborder="0" allowfullscreen></iframe></div>
  </div>
 </div>
 {%endblock content%}